:root {
  --bg: #EEEEEE;
  --card-bg: #fff;
  --border-color: #E8E8E8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  font-family: "Inter";
  font-size: 14px;
  line-height: 23px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.pricing__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.pricing__toggle p {
  font-weight: bold;
}

.pricing__card {
  box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.35);
  max-width: 25rem;
  border-radius: 15px;
  min-height: 30rem;
}

.pricing__card__header {
  padding: 1rem 2rem;
}

.pricing__card__price {
  font-family: "Inter";
  font-weight: bold;
  font-size: 112px;
  line-height: 136px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.pricing__card__price span {
  font-size: 62px;
  line-height: 75px;
}

.pricing__card__divider {
  border: 2px solid var(--border-color);
}

.pricing__card__features {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing__card__subheader {
  font-family: "Krona One";
  font-size: 26px;
  line-height: 33px;
}

.pricing__card__subheader-description {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

ul {
  margin-left: 1rem;
}

li {
  padding-inline-start: 1ch;
}

li::marker {
  content: url(./images/checkmark.svg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}